.git
.github
.yarn/*
!.yarn/releases/
!.yarn/releases/yarn-4.18.0.cjs
!.yarn/patches/
!.yarn/patches/*.patch
.pnp.*
node_modules
dist
coverage
reports
documentation
.stryker-tmp
test
**/._*

.env
.env.*
.secrets
*.pem
*.key
*.crt

*.log
*.tsbuildinfo
.DS_Store
