.DS_Store
._*
**/._*
.env
.env.*
!.env.example
.pnp.*
.yarn/berry/
.yarn/cache/
.yarn/install-state.gz
.yarn/unplugged/
coverage/
dist/
documentation/
logs/
node_modules/
reports/
.stryker-tmp/
*.log
*.tsbuildinfo
package-lock.json
